<h3>Mis turnos como <%= @rol %>:</h3>

<form method="post" action='/appointments/delete'>
   <%= csrf_token_field %>

   <% if @appointments.empty? %>
      <legend>No hay turnos proximos.</legend>
   <% else %>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
              <th width="15"></th>
              <th>Doctor/a</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th><% if @rol == "Consultorio" %>
                     Paciente
                  <% else %>
                     Consultorio
                  <% end %>
              </th>
              <input type="hidden" name="rol" value="<%= @rol %>">
          </tr>
         </thead>
         <tbody>
            <% @appointments.each do |appointment| %>
            <tr>
              <td><input type="checkbox" name="<%="appointments_id["+appointment.id.to_s+"]"%>" value="<%= appointment.id.to_s %>"> </td>
               <td><%= appointment.medic %></td>
               <td><%= appointment.date_and_hour.to_s[0..9] %></td>
               <td><%= appointment.date_and_hour.to_s[11..15] %></td>
               <td>
                  <% if @rol == "Consultorio" %>
                     <%= appointment.patient_name %>
                  <% else %>
                     <%= appointment.user_friendly_name %>
                  <% end %>
                </td>
            </tr>
            <% end %>
         </tbody>
     </table>

     <% if flash[:error] %>
        <div class="alert alert-error">
          <%=flash[:error] %>
        </div>
     <% end %>

     <input type="submit" class="btn btn-primary btn-large" id="cancelTurnButton" value="Cancelar Turno"/> 
   <% end %>
</form>
